Client.FormIhm/Connected Services/ServiceReferencePim/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyAirport.Pim.Entities" />
  <xs:element name="GetBagageById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBagage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBagageByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyAirport.Pim.Entities" minOccurs="0" name="GetBagageByIdResult" nillable="true" type="q1:BagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBagageByCodeIata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeIata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBagageByCodeIataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyAirport.Pim.Entities" minOccurs="0" name="GetBagageByCodeIataResult" nillable="true" type="q2:BagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBagage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyAirport.Pim.Entities" minOccurs="0" name="bag" nillable="true" type="q3:BagageDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBagageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBagageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>